body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.btn-color {
  background-color: #ee6e73;
  margin-bottom: 2vh;
}

.btn-color:hover, .btn-color:focus {
  background-color: #d94449;
}

.answer-checkbox {
  margin-right: 2vw;
}

.prev-btn {
  margin-right: 2vw;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #d94449
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #d94449;
    border-bottom: 2px solid #d94449;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ee6e73;
    box-shadow: 0 1px 0 0 #ee6e73;
}
